@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "Saira", sans-serif;

  --color-primary: #23262f;
  --color-accent: #286f6c;
  --color-grey: #919297;
  --color-grey-1: #d9d9d9;
  --color-grey-2: #e7e9eb;
  --color-grey-3: #f5f5f5;
  --color-white: #ffffff;
  --color-pink: #ff00ff;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --background-image-hero: url("/assets/hero-bg.png");
  --background-image-newsletter: url("/assets/newsletter.png");

  --shadow-primary: 0px 4px 10px rgba(15, 27, 51, 0.05);
}

body {
  @apply bg-grey-3 font-primary text-base leading-relaxed;
}

.container {
  @apply px-6 w-full max-w-320 mx-auto;
}

.section {
  @apply py-12.5 lg:py-17.5;
}

.title {
  @apply text-2xl lg:text-[40px] leading-tight font-semibold mb-4;
}

.subtitle {
  @apply text-lg lg:text-xl leading-relaxed mb-5 lg:mb-9;
}

.btn {
  @apply text-xl rounded-lg cursor-pointer transition-colors duration-300;
}

.btn-primary {
  @apply h-15 px-7 font-medium bg-primary hover:bg-slate-900;
}

.btn-cta {
  @apply py-2.25 lg:py-4 px-8.75 lg:px-20 backdrop-blur-md text-white bg-[rgba(255,255,255,0.4)] hover:bg-[rgba(255,255,255,0.5)];
}

.productSlider .swiper-pagination-bullet {
  background: #23262f;
}

.productSlider .swiper-button-prev,
.productSlider .swiper-button-next {
  background: #23262f;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.1);
  top: 97%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 20;
}

.productSlider .swiper-button-prev:hover,
.productSlider .swiper-button-next:hover,
.testimonialSlider .swiper-button-prev:hover,
.testimonialSlider .swiper-button-next:hover {
  background: #286f6c;
  transition: all 0.25s ease-in-out;
}

.productSlider .swiper-button-prev {
  left: 40%;
}
.productSlider .swiper-button-next {
  right: 40%;
}

.productSlider .swiper-button-prev:after,
.productSlider .swiper-button-next:after,
.testimonialSlider .swiper-button-prev:after,
.testimonialSlider .swiper-button-next:after {
  font-size: 16px;
  color: white;
}

.productSlider .swiper-pagination {
  bottom: 20px;
}

.testimonialSlider .swiper-button-prev,
.testimonialSlider .swiper-button-next {
  background: #23262f;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.1);
  top: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 20;
}

.testimonialSlider .swiper-button-prev {
  left: 0;
}

.testimonialSlider .swiper-button-next {
  left: 12%;
}

@media (max-width: 768px) {
  .productSlider .swiper-button-prev,
  .productSlider .swiper-button-next,
  .productSlider .swiper-pagination,
  .testimonialSlider .swiper-button-prev,
  .testimonialSlider .swiper-button-next {
    display: none;
  }
}
